<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> List Barang </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Penambahan Barang</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="logout()"> Logout </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-button class="home__button" (click)="tambahBarang()" fill="outline"
      >Tambah</ion-button
    >

    <div class="home__card">
      <h2 class="home__card-title">Beli Barang Ini</h2>
      <div class="home__card-datas" *ngFor="let data of BeliBarang">
        <div class="home__card-detail">
          <div class="home__card-data">{{data.nama}}</div>
          <div class="home__card-data">{{data.keterangan}}</div>
        </div>
        <ion-button size="small" (click)="editBarang(data.id)"
          >Terbeli</ion-button
        >
      </div>
    </div>

    <div class="home__card">
      <h2 class="home__card-title">Barang Terbeli</h2>
      <div class="home__card-datas" *ngFor="let data of BarangTerbeli">
        <div class="home__card-detail">
          <div class="home__card-data">{{data.nama}}</div>
          <div class="home__card-data">{{data.keterangan}}</div>
        </div>
        <ion-button
          size="small"
          (click)="deleteList(data.id)"
          color="danger"
          >Hapus</ion-button
        >
      </div>
    </div>
  </ion-content>
</ion-content>
